<ul class="metismenu" id="menu">
                    
    <li><a class="" href="/admin"  aria-expanded="false">
        <i class="fa fa-home"></i>
        <span class="nav-text">{{'menu'.title()}}</span>
    </a>
    
</li>
    
    <hr>
    
    <li><a class="" href="" aria-expanded="true">
        <i class="fas fa-user-tie"></i>
            <span class="nav-text">Liste membre <div style="position: relative;display: inline-block;color: red;"></div></span>
        </a>
        
    </li>
    <hr>
    <li><a class="" href="/ajout" target="_blank" aria-expanded="false">
            <i class="fa fa-user-plus"></i>
            <span class="nav-text">Ajouter membre</span>
        </a>
        
    </li>
 
<!-- GESTION DE LA MESSAGERIE  -->
<!-- <li>    
    <a class="" href="/chat" aria-expanded="false">
        <i class="fa fa-spinner fa-pulse"></i>
        <span class="nav-text">Chat</span>
    </a>
</li> -->

<!-- <li>    
    <a class="" href="/boite" aria-expanded="false">
        <i class="fa fa-envelope"></i>
        <span class="nav-text">Boite de reception</span>
    </a>
</li> -->

<!-- <li>    
    <a class="" href="/traite" aria-expanded="false">
        <i class="fa fa-paper-plane"></i>
        <span class="nav-text">Document sortants</span>
    </a>
</li>
-->
<hr>
<!-- <li>    
    <a class="" href="/profile" aria-expanded="false">
        <i class="fa fa-user-tie"></i>
        <span class="nav-text">{{'Profile'.title()}}</span>
    </a>
</li>  -->

<!-- <li>    
    <a class="" href="/profile" aria-expanded="false">
        <i class="fa fa-user-tie"></i>
        <span class="nav-text">{{'Mot de passe'.title()}}</span>
    </a>
</li>  -->


                    
<li><a class="" href="/profile" target="_blank" aria-expanded="false">
    <i class="fa fa-user-edit"></i>
    <span class="nav-text">{{'profile'.title()}}</span>
</a>

</li>
<hr>
<li>    
    <a class="" href="/deco" aria-expanded="false">
        <i class="fa fa-unlock"></i>
        <span class="nav-text">{{'Deconnexion'.title()}}</span>
    </a>
</li> 

    
    
</ul>